* 
  font-size 1.6rem
 
html, body
  padding 0
  margin 0
html
  color #33ff33
  background-color #282828
  font-size 62.5%
body 
  font-family monospace
  line-height 1.4
  margin 2.4rem
  box-sizing border-box
h1 
  font-size 2.4rem
h4
  font-size 1.8rem
  font-weight normal
  margin 2.4rem 0 .6rem
  
#display
  hr
    border .1rem solid #33ff33
    display block
  .exits
    h5
      font-weight normal
      margin 1.8rem 0 .6rem
  button
    background transparent
    color #33ff33
    border 0
    font-family monospace
    font-size 1.6rem
    cursor pointer
    &.object
      display inline-block
    &.destination
      display block
      padding .4rem 3rem
      margin 0 -3rem
      width calc(100% + 5.4rem)
      text-align left
      &:before
        content: "* "
    &:hover
      color #282828
      background-color #33ff33      
#console
  display flex
  align-items center
  width 100%
  font-family monospace
#prompt, .prompt
  font-family monospace
  flex 1
  font-size 1.6rem
  border 0
  display inline-block
  padding-left .4rem
  background-color: transparent
  color #aaffaa
  margin 0
  &:focus
    outline none
#console, .prompt
  margin-top 1.2rem 
.caret
  display inline-block
  width 1.6rem
  color #aaffaa
  &:before
    content '>'